<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../CSS/styles.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap"
      rel="stylesheet"
    />

    <title>Job Finder</title>
  </head>

  <body>
    <h1>Hello World</h1>
    <i class="far fa-address-card"></i>
  </body>

  <footer>
    <script
      src="https://kit.fontawesome.com/94b0f21b42.js"
      crossorigin="anonymous"
    ></script>
  </footer>
</html>
